/*!
 * Flat UI Free v2.2.2 (http://designmodo.github.io/Flat-UI/)
 * Copyright 2013-2014 Designmodo, Inc.
 */

.page-header {
  padding-bottom: 14px;
  margin: 60px 0 30px;
  border-bottom: 2px solid #e7e9ec;
  }
ul,
ol {
  margin-bottom: 15px;
  }
dl {
  margin-bottom: 30px;
  }
dt,
dd {
  line-height: 1.72222;
  }
@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 160px;
    }
  .dl-horizontal dd {
    margin-left: 180px;
    }
  }
.btn {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
          transition: border .25s linear, color .25s linear, background-color .25s linear;

  -webkit-font-smoothing: subpixel-antialiased;
  }
.btn:hover,
.btn:focus {
  color: #fff;
  outline: none;
  }
.btn:active,
.btn.active {
  outline: none;
  box-shadow: none;
  }
.btn:focus:active {
  outline: none;
  }
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  color: rgba(255, 255, 255, .75);
  cursor: not-allowed;
  background-color: #bdc3c7;
  filter: alpha(opacity=70);
  opacity: .7;
  }
.btn [class^="fui-"] {
  position: relative;
  top: 1px;
  margin: 0 1px;
  line-height: 1;
  }
.btn-xs.btn [class^="fui-"] {
  top: 0;
  font-size: 11px;
  }
.btn-hg.btn [class^="fui-"] {
  top: 2px;
  }
.btn-default {
  color: #fff;
  background-color: #bdc3c7;
  }
.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #cacfd2;
  border-color: #cacfd2;
  }
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background: #a1a6a9;
  border-color: #a1a6a9;
  }
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled.hover,
.btn-default[disabled].hover,
fieldset[disabled] .btn-default.hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  }
.btn-default .badge {
  color: #bdc3c7;
  background-color: #fff;
  }
.btn-primary {
  color: #fff;
  background-color: #1abc9c;
  }
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #48c9b0;
  border-color: #48c9b0;
  }
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #16a085;
  border-color: #16a085;
  }
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled.hover,
.btn-primary[disabled].hover,
fieldset[disabled] .btn-primary.hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #bdc3c7;
  border-color: #1abc9c;
  }
.btn-primary .badge {
  color: #1abc9c;
  background-color: #fff;
  }
.btn-info {
  color: #fff;
  background-color: #3498db;
  }
.btn-info:hover,
.btn-info.hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #5dade2;
  border-color: #5dade2;
  }
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background: #2c81ba;
  border-color: #2c81ba;
  }
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled.hover,
.btn-info[disabled].hover,
fieldset[disabled] .btn-info.hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #bdc3c7;
  border-color: #3498db;
  }
.btn-info .badge {
  color: #3498db;
  background-color: #fff;
  }
.btn-danger {
  color: #fff;
  background-color: #e74c3c;
  }
.btn-danger:hover,
.btn-danger.hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #ec7063;
  border-color: #ec7063;
  }
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background: #c44133;
  border-color: #c44133;
  }
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled.hover,
.btn-danger[disabled].hover,
fieldset[disabled] .btn-danger.hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #bdc3c7;
  border-color: #e74c3c;
  }
.btn-danger .badge {
  color: #e74c3c;
  background-color: #fff;
  }
.btn-success {
  color: #fff;
  background-color: #2ecc71;
  }
.btn-success:hover,
.btn-success.hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #58d68d;
  border-color: #58d68d;
  }
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background: #27ad60;
  border-color: #27ad60;
  }
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled.hover,
.btn-success[disabled].hover,
fieldset[disabled] .btn-success.hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #bdc3c7;
  border-color: #2ecc71;
  }
.btn-success .badge {
  color: #2ecc71;
  background-color: #fff;
  }
.btn-warning {
  color: #fff;
  background-color: #f1c40f;
  }
.btn-warning:hover,
.btn-warning.hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #f4d313;
  border-color: #f4d313;
  }
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background: #cda70d;
  border-color: #cda70d;
  }
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled.hover,
.btn-warning[disabled].hover,
fieldset[disabled] .btn-warning.hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #bdc3c7;
  border-color: #f1c40f;
  }
.btn-warning .badge {
  color: #f1c40f;
  background-color: #fff;
  }
.btn-inverse {
  color: #fff;
  background-color: #34495e;
  }
.btn-inverse:hover,
.btn-inverse.hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #fff;
  background-color: #415b76;
  border-color: #415b76;
  }
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background: #2c3e50;
  border-color: #2c3e50;
  }
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled.hover,
.btn-inverse[disabled].hover,
fieldset[disabled] .btn-inverse.hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #bdc3c7;
  border-color: #34495e;
  }
.btn-inverse .badge {
  color: #34495e;
  background-color: #fff;
  }
.btn-embossed {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  }
.btn-embossed.active,
.btn-embossed:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
  }
.btn-wide {
  min-width: 140px;
  padding-right: 30px;
  padding-left: 30px;
  }
.btn-link {
  color: #16a085;
  }
.btn-link:hover,
.btn-link:focus {
  color: #1abc9c;
  text-decoration: underline;
  background-color: transparent;
  }
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #bdc3c7;
  text-decoration: none;
  }
.btn-hg,
.btn-group-hg > .btn {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.227;
  border-radius: 6px;
  }
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  }
.btn-sm,
.btn-group-sm > .btn {
  padding: 9px 13px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 4px;
  }
.btn-xs,
.btn-group-xs > .btn {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 3px;
  }
.btn-tip {
  padding-left: 10px;
  font-size: 92%;
  font-weight: 300;
  }
.btn-block {
  white-space: normal;
  }
[class*="btn-social-"] {
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1.077;
  border-radius: 4px;
  }
.btn-social-pinterest {
  color: #fff;
  background-color: #cb2028;
  }
.btn-social-pinterest:hover,
.btn-social-pinterest:focus {
  background-color: #d54d53;
  }
.btn-social-pinterest:active,
.btn-social-pinterest.active {
  background-color: #ad1b22;
  }
.btn-social-linkedin {
  color: #fff;
  background-color: #0072b5;
  }
.btn-social-linkedin:hover,
.btn-social-linkedin:focus {
  background-color: #338ec4;
  }
.btn-social-linkedin:active,
.btn-social-linkedin.active {
  background-color: #00619a;
  }
.btn-social-stumbleupon {
  color: #fff;
  background-color: #ed4a13;
  }
.btn-social-stumbleupon:hover,
.btn-social-stumbleupon:focus {
  background-color: #f16e42;
  }
.btn-social-stumbleupon:active,
.btn-social-stumbleupon.active {
  background-color: #c93f10;
  }
.btn-social-googleplus {
  color: #fff;
  background-color: #2d2d2d;
  }
.btn-social-googleplus:hover,
.btn-social-googleplus:focus {
  background-color: #575757;
  }
.btn-social-googleplus:active,
.btn-social-googleplus.active {
  background-color: #262626;
  }
.btn-social-facebook {
  color: #fff;
  background-color: #2f4b93;
  }
.btn-social-facebook:hover,
.btn-social-facebook:focus {
  background-color: #596fa9;
  }
.btn-social-facebook:active,
.btn-social-facebook.active {
  background-color: #28407d;
  }
.btn-social-twitter {
  color: #fff;
  background-color: #00bdef;
  }
.btn-social-twitter:hover,
.btn-social-twitter:focus {
  background-color: #33caf2;
  }
.btn-social-twitter:active,
.btn-social-twitter.active {
  background-color: #00a1cb;
  }
.btn-group > .btn + .btn {
  margin-left: 0;
  }
.btn-group > .btn + .dropdown-toggle {
  padding: 10px 12px;
  border-left: 2px solid rgba(52, 73, 94, .15);
  }
.btn-group > .btn + .dropdown-toggle .caret {
  margin-right: 3px;
  margin-left: 3px;
  }
.btn-group > .btn.btn-gh + .dropdown-toggle .caret {
  margin-right: 7px;
  margin-left: 7px;
  }
.btn-group > .btn.btn-sm + .dropdown-toggle .caret {
  margin-right: 0;
  margin-left: 0;
  }
.dropdown-toggle .caret {
  margin-left: 8px;
  }
.btn-group-xs > .btn + .dropdown-toggle {
  padding: 6px 9px;
  }
.btn-group-sm > .btn + .dropdown-toggle {
  padding: 9px 13px;
  }
.btn-group-lg > .btn + .dropdown-toggle {
  padding: 10px 19px;
  }
.btn-group-hg > .btn + .dropdown-toggle {
  padding: 13px 20px;
  }
.btn-xs .caret {
  border-width: 6px 4px 0;
  border-bottom-width: 0;
  }
.btn-lg .caret {
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  }
.dropup .btn-lg .caret {
  border-width: 0 6px 8px;
  }
.dropup .btn-xs .caret {
  border-width: 0 4px 6px;
  }
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-weight: 400;
  }
.btn-group:focus .dropdown-toggle {
  outline: none;
  -webkit-transition: .25s;
          transition: .25s;
  }
.btn-group.open .dropdown-toggle {
  color: rgba(255, 255, 255, .75);
  box-shadow: none;
  }
.btn-toolbar .btn.active {
  color: #fff;
  }
.btn-toolbar .btn > [class^="fui-"] {
  margin: 0 1px;
  font-size: 16px;
  }
.navbar {
  min-height: 53px;
  margin-bottom: 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  }
@media (min-width: 768px) {
  .navbar-header {
    float: left;
    }
  }
.navbar-collapse {
  padding-right: 21px;
  padding-left: 21px;
  box-shadow: none;
  }
.navbar-collapse .navbar-form:first-child {
  border: none;
  }
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -21px;
    }
  .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -21px;
    }
  .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0 6px 6px 0;
    }
  .navbar-fixed-top .navbar-collapse .navbar-form.navbar-right:last-child,
  .navbar-fixed-bottom .navbar-collapse .navbar-form.navbar-right:last-child {
    margin-right: 0;
    }
  }
@media (max-width: 767px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-bottom: 3px;
    }
  }
.navbar .container,
.navbar .container-fluid {
  padding-right: 21px;
  padding-left: 21px;
  }
.navbar .container > .navbar-header,
.navbar .container-fluid > .navbar-header,
.navbar .container > .navbar-collapse,
.navbar .container-fluid > .navbar-collapse {
  margin-right: -21px;
  margin-left: -21px;
  }
@media (min-width: 768px) {
  .navbar .container > .navbar-header,
  .navbar .container-fluid > .navbar-header,
  .navbar .container > .navbar-collapse,
  .navbar .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    }
  }
.navbar-static-top {
  z-index: 1000;
  border-width: 0;
  border-radius: 0;
  }
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 1030;
  border-radius: 0;
  }
.navbar-fixed-top {
  border-width: 0;
  }
.navbar-fixed-bottom {
  margin-bottom: 0;
  border-width: 0;
  }
.navbar-brand {
  height: 53px;
  padding: 14px 21px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.042;
  }
.navbar-brand > [class*="fui-"] {
  font-size: 19px;
  line-height: 1.263;
  vertical-align: top;
  }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -21px;
    }
  }
.navbar-toggle {
  height: 53px;
  padding: 0 21px;
  margin: 0 0 0 21px;
  line-height: 53px;
  color: #34495e;
  border: none;
  }
.navbar-toggle:before {
  font-family: "Flat-UI-Icons";
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  color: #16a085;
  content: "\e236";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color .25s linear;
          transition: color .25s linear;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.navbar-toggle:hover,
.navbar-toggle:focus {
  outline: none;
  }
.navbar-toggle:hover:before,
.navbar-toggle:focus:before {
  color: #1abc9c;
  }
.navbar-toggle .icon-bar {
  display: none;
  }
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
    }
  }
.navbar-nav {
  margin: 0;
  }
.navbar-nav > li > a {
  padding: 15px 21px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  }
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav .open > a:focus,
.navbar-nav .open > a:hover {
  background-color: transparent;
  }
.navbar-nav [class^="fui-"] {
  position: relative;
  top: 1px;
  line-height: 20px;
  }
.navbar-nav .visible-sm > [class^="fui-"],
.navbar-nav .visible-xs > [class^="fui-"] {
  margin-left: 12px;
  }
@media (max-width: 767px) {
  .navbar-nav {
    margin: 0 -21px;
    }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 7px 15px 7px 31px !important;
    }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 23px;
    }
  .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
    }
  }
.navbar-input {
  height: 35px;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.4;
  border-radius: 6px;
  }
select.navbar-input {
  height: 35px;
  line-height: 35px;
  }
textarea.navbar-input,
select[multiple].navbar-input {
  height: auto;
  }
.navbar-form {
  padding-top: 9px;
  padding-right: 19px;
  padding-bottom: 9px;
  padding-left: 19px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: none;
  }
@media (max-width: 767px) {
  .navbar-form {
    width: auto;
    margin: 3px -21px;
    }
  }
.navbar-form .form-control,
.navbar-form .input-group-addon,
.navbar-form .btn,
.navbar-form .select2-search input[type="text"] {
  height: 35px;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.4;
  border-radius: 6px;
  }
select.navbar-form .form-control,
select.navbar-form .input-group-addon,
select.navbar-form .btn,
select.navbar-form .select2-search input[type="text"] {
  height: 35px;
  line-height: 35px;
  }
textarea.navbar-form .form-control,
textarea.navbar-form .input-group-addon,
textarea.navbar-form .btn,
select[multiple].navbar-form .form-control,
select[multiple].navbar-form .input-group-addon,
select[multiple].navbar-form .btn,
textarea.navbar-form .select2-search input[type="text"],
select[multiple].navbar-form .select2-search input[type="text"] {
  height: auto;
  }
.navbar-form .btn {
  margin: 0;
  }
.navbar-form .input-group .form-control:first-child,
.navbar-form .input-group-addon:first-child,
.navbar-form .input-group-btn:first-child > .btn,
.navbar-form .input-group-btn:first-child > .dropdown-toggle,
.navbar-form .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.navbar-form .input-group .select2-search input[type="text"]:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  }
.navbar-form .input-group .form-control:last-child,
.navbar-form .input-group-addon:last-child,
.navbar-form .input-group-btn:last-child > .btn,
.navbar-form .input-group-btn:last-child > .dropdown-toggle,
.navbar-form .input-group-btn:first-child > .btn:not(:first-child),
.navbar-form .input-group .select2-search input[type="text"]:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  }
.navbar-form .form-control,
.navbar-form .select2-search input[type="text"] {
  display: table-cell;
  font-size: 15px;
  border-radius: 5px;
  }
.navbar-form .form-group ~ .btn {
  margin-left: 5px;
  font-size: 15px;
  border-radius: 5px;
  }
.navbar-form .form-group + .btn {
  margin-right: 5px;
  }
@media (min-width: 768px) {
  .navbar-form .input-group {
    width: 195px;
    }
  }
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 7px;
    }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
    }
  .navbar-form .form-group + .btn {
    margin-left: 0;
    }
  }
.navbar-nav > li > .dropdown-menu {
  min-width: 100%;
  margin-top: 9px;
  border-radius: 4px;
  }
@media (max-width: 767px) {
  .navbar-nav > li.open > .dropdown-menu {
    margin-top: 0 !important;
    }
  }
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  }
.navbar-nav > .open > .dropdown-toggle,
.navbar-nav > .open > .dropdown-toggle:focus,
.navbar-nav > .open > .dropdown-toggle:hover {
  background-color: transparent;
  }
.navbar-text {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.438;
  color: #34495e;
  }
@media (min-width: 768px) {
  .navbar-text {
    margin-right: 21px;
    margin-left: 21px;
    }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
    }
  }
.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
  }
.navbar-btn.btn-sm {
  margin-top: 9px;
  margin-bottom: 8px;
  }
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
  }
.navbar-unread,
.navbar-new {
  position: absolute;
  top: 35%;
  right: 12px;
  z-index: 10;
  width: 6px;
  height: 6px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 0;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #1abc9c;
  border-radius: 50%;
  }
@media (max-width: 768px) {
  .navbar-unread,
  .navbar-new {
    position: static;
    float: right;
    margin: 0 0 0 10px;
    }
  }
.active .navbar-unread,
.active .navbar-new {
  display: none;
  background-color: #fff;
  }
.navbar-new {
  width: auto;
  min-width: 18px;
  height: 18px;
  padding: 0 1px;
  margin: -6px -10px;
  font-size: 12px;
  line-height: 17px;
  background-color: #e74c3c;

  -webkit-font-smoothing: subpixel-antialiased;
  }