h1, h2, h3, h4, body, p, a {
    font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans", "Inconsolata","Roboto","Helvetica Neue","Verdana", "Tahoma" ,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","sans-serif";
}

.nav {
    width: 960px;
    margin: 0 auto;
    text-transform: uppercase
}

.home-menu ul {
    float: right;
}

.header {
    padding: 0.5em;
    width: 36px;
}

.supernav{
    margin: 0;
    text-align: right;
    padding: 0;
}

.supernav ul li a {
    font-size: 12px;
}

.content {
    padding: 1em;
}

.is-center {
    text-align: center;
}

#body {
    line-height: 1em;
    font-size:13px;
    float: left;
    background:#000;
    padding:10px;
    line-height:1.5em;
}

#body p {
    color: #63de00!important;
}
@keyframes blink {
    0% {
        background:rgba(99, 222, 0, 100);
    }
    100% {
        background:rgba(99, 222, 0, 0);
    }
}
@-webkit-keyframes blink {
    0% {
        background:rgba(99, 222, 0, 100);
    }
    100% {
        background:rgba(99, 222, 0, 0);
    }
}
@-moz-keyframes blink {
    0% {
        background:rgba(99, 222, 0, 100);
    }
    100% {
        background:rgba(99, 222, 0, 0);
    }
}