body {
  color: #384452;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

.nav {
  margin: 0 auto;
  text-transform: uppercase
}

.header {
  height: 36px;
  color: #fff;
  padding: 0.5em;
  background-color: #384452;
  background-color: rgba(56, 68, 82, 0.8);
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header ul {
  float: right;
}

.header span {
  line-height: 200%;
  float: left;
  padding-left: 44px;
}

.super-header {
  background: #222;
  color: #fff;
}

.super-header input {
  color: white;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  outline: none;
  margin: 0;
  padding: 8px 0;
  width: 255px;
  background: 0 0;
  text-align: left;
  color: inherit;
  -webkit-appearance: none;
}

.supernav {
  margin: 0;
  text-align: right;
  padding: 0;
}

.supernav ul li a {
  font-size: 12px;
}

.splash h1 {
  padding-top: 100px;
  line-height: 200%;
  color: #fff;
}

.content {
  padding: 1em;
}

.is-center {
  text-align: center;
}

.l-content {
  margin: 0 auto;
}

.pwd h2 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pwd h2,
.pwd h2 a,
.pwd p {
  color: #1abc9c;
  text-align: center;
}

.pwd ul li {
  list-style: none;
  color: #5090CC;
}

.moreinfo ul li {
  list-style: none;
}

.pwd h2 a,
.moreinfo a,
.pwd a {
  text-decoration: none;
}

.moreinfo {
  margin: 0 auto;
  line-height: 150%;
}

.l-content a,
.moreinfo h2,
.moreinfo a {
  color: #384452;
}

.moreinfo p,
.moreinfo h2 {
  text-align: center;
}

.moreinfo h2 a {
  text-decoration: none;
}

footer {
  background-color: #384452;
}

footer .pure-menu {
  padding: 25px 0 0 0;
}

footer .pure-menu-link {
  color: #fff;
}

footer .pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  color: #fff;
  background: none;
  border-bottom: 1px solid #fdfdfd;
}

footer .pure-menu-link:hover {
  color: #8bc34a;
}

footer .pure-menu-link:hover {
  border-bottom: none;
}

footer .copy {
  background: #384452;
  padding: 10px 0 10px 0;
  line-height: 200%;
  color: #fff;
}

footer .margin-center {
  margin: 0 auto;
}

.slice {
  border-right: 1px #ccc dotted;
}

.slice-margin {
  margin-left: 12px;
}

.topgradient {
  height: 2px;
  width: 100%;
  background: #446173;
}

.literature {
  background: #5e6772;
}

.design p,
.design ul li,
.literature p,
.literature ul li {
  color: #fff;
}

.design ul li,
.code ul li,
.literature ul li {
  font-weight: 400;
}

.code {
  background: #FFF;
}

.code p,
.code ul li {
  color: #5e6772;
}

.design {
  background: #5e6772;
}

.design a {
  color: #fff;
}

.pwd {
  line-height: 150%;
}

.pwd ul {
  text-align: center;
  padding: 0;
}

.pwd p {
  padding: 16px;
}

.social {
  color: #384452;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.social a {
  font-size: 18px;
  text-decoration: none;
}

.about {
  color: #fff;
  background: #384452;
}

.bottomgradient {
  height: 5px;
  width: 100%;
  background: #fff;
}

.background {
  background: transparent url('../images/bg.svg') 0 0 no-repeat;
  text-align: center;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 62em) {
  .header span a {
    color: #fff;
  }

  .header .pure-menu-link, .header .pure-menu-heading {
    padding: 0.5em 0em;
  }
}

.blog-posts {
  margin: 0 4em;
}

.recently-blog {
  border-bottom: 1px solid #eee;
  padding: 10px 0 20px;
}

.recently-blog a,
.blog-posts a {
  text-decoration: none;
}

.blog-posts p {
  margin: 0.5em 0.5em;
}

.blog-posts h3 {
  text-align: center;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 1em;
  -webkit-margin-end: 1em;
}

a {
  color: #1abc9c;
}

footer .copy a {
  color: #fff;
}

.lang-switch {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 10px;
  margin-left: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.lang-switch:hover {
  background: #fff;
  color: #384452;
}
