h1, h2, h3, h4, body, p, a {
    font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans", "Inconsolata","Roboto","Helvetica Neue","Verdana", "Tahoma" ,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","sans-serif";
}

.nav {
    width: 960px;
    margin: 0 auto;
    text-transform: uppercase
}

.header {
    height: 36px;
    color: #D4F3FF;
    background-color: #428099;
}

.header a {
    color: #D4F3FF;
    text-decoration: none;
}

.header ul {
    float: right;
}

.header span {
    line-height: 200%;
}
.header {
    padding: 0.5em;
}

.super-header {
    background: #091026;
    color: #446173;
}

.super-header input {
    color: white;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    outline: none;
    margin: 0;
    padding: 4px 0;
    width: 255px;
    background: 0 0;
    text-align: left;
    color: inherit;
    -webkit-appearance: none;
}

.supernav{
    margin: 0;
    text-align: right;
    padding: 0;
}

.supernav ul li a {
    font-size: 12px;
}

.content {
    padding: 1em;
}

.is-center {
    text-align: center;
}

.l-content {
    margin: 0 auto;
}

.pwd h3,
.pwd p
 {
    text-align: center;
}

.moreinfo {
    margin: 0 auto;
}

.l-content a,
.moreinfo a {
    color: #23B7F3;
}

.moreinfo p,
.moreinfo h2 {
    text-align: center;
}

.moreinfo h2 a {
    text-decoration: none;
}

footer {
    background-color: #428099;
}

footer .pure-menu {
    padding: 25px 0 0 0;
}

footer .pure-menu-link {
    color: #D4F3FF;
}

footer .pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    color: #eee;
    background-color: #23B7F3;
}

footer .copy {
    background: #091026;
    padding: 10px 0 10px 0;
    line-height: 200%;
    color: #446173;
}

footer .margin-center {
    margin: 0 auto;
}