body{
    font-family:"微软雅黑","Microsoft Yahei","WenQuanYi Micro Hei";
    background:url(../images/bg_body.jpg);
}
body {
    margin:0 auto;

}
.footer {
    position: relative;
    background:url(../images/pcb_background.png) repeat;
    height: 100%;
    width: 100%;
}
.pcb {
    background:url(../images/pcb.png) no-repeat;
    left:0px;
    min-height:500px;
    height: 100%;
    width: auto;
    background-size: 25%;
}
@font-face {
    font-family:'Marcsc';
    src: url(Marcsc.ttf) format('truetype');
}
@font-face {
    font-family:'Rio';
    src: url(Rio.ttf) format('truetype');
}
@font-face {
    font-family:'inconsolata';
    src:url(Inconsolata.otf) format('opentype');
}
@font-face {
    font-family:'mypriad';
    src: url(MyriadPro.otf) format('opentype');
}
body {
    margin: 0;
    font-family:'inconsolata', "微软雅黑", "Microsoft Yahei", "WenQuanYi Micro Hei";
    background: url(../images/bg_body.jpg);
}
h1, h2, h3, h4 {
    font-family:'Futura', 'mypriad';
}
.h1, .h2, .h3, .h4, .h5, .h6, code, kbd, pre, samp {
    font-family:'inconsolata';
}
#phfont {
    font-family:'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
/*mouse chnage*/
body, .btn.disabled, .btn[disabled], .nav-tabs>.active>a .nav-tabs>.active>a:hover {
    cursor: url(../cursor/left_ptr.cur), auto;
}
input {
    cursor: url(../cursor/Text.cur), text;
}
button, input[type="button"], input[type="reset"], input[type="submit"], .editable-form, .btn, a:hover, li, input[type="image"], input[type="checkbox"], input[type="radio"], .close, .nav>.dropdown.active>a:hover {
    cursor: url(../cursor/pointing_hand.cur), pointer;
}
abbr[title] {
    cursor: url(../cursor/help.cur), help;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], .uneditable-input {
    cursor: url(../cursor/forbidden.cur), not-allowed;
}
/* end mouse change */
.tagline {
    font-family: Marcsc;
    color: black;
    font-size: 12pt;
}
.brand {
    font-family: Rio;
    font-size: 20px;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
.middle .posts ul {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 1em;
}
.middle .posts  li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #FFF;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.middle .posts li:hover {
    background: #cbe7f8;
}

.middle .posts li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color: #FFF;
}
h2
{
	position: relative;
	width: 80%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 30px -20px;
	color: #555;
	background-color: #999;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}
h2:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}
h2:before
{
	content: ' ';
	position: absolute;
	width: 30px;
	height: 0;
	left: -11px;
	top: 14px;
	border-width: 15px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}
h1{
text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
margin-bottom:20px;
}
h3{
margin-bottom:10px;
}
