Mezzanine==6.1.1
django==4.2.24
Mezzanine==6.0.0
bleach==5.0.0
django-compressor==4.0
newrelic==7.10.0.175
django-macros
djangorestframework==3.15.2
django-uuslug==2.0.0
django-cors-headers==3.12.0
djangorestframework-jwt~=1.11.0
django-widget-tweaks==1.4.12
markdown==2.6.11
python-memcached
gunicorn==23.0.0
mezzanine_pagedown==1.4.0
pypandoc==1.8.1

six~=1.16.0
future~=0.18.2
