Mezzanine==4.0.1
django==1.8.0
django-tastypie
mezzanine-pagedown
newrelic==2.50.0.39
django-macros==0.4.0
djangorestframework==3.2.3
django-cors-headers
djangorestframework-jwt
django-widget-tweaks==1.4.1
wechat==0.4.14
wechat-sdk==0.5.8