django==2.2.28
Mezzanine==4.3.1
bleach==2.1.4
django-compressor
newrelic
django-macros
djangorestframework==3.9.1
django-uuslug
django-cors-headers==3.2.1
djangorestframework-jwt
django-widget-tweaks==1.4.1
markdown==2.6.11
python-memcached
gunicorn==20.1.0
mezzanine_pagedown
