{% extends "pages/base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<h2>Internet Of Things(物联网) </h2>
<div class="github-widget" data-repo="phodal/iot"></div>
<div class="github-widget" data-repo="phodal/designiot"></div>
<div class="github-widget" data-repo="phodal/iot-coap"></div>
<div class="github-widget" data-repo="phodal/diaonan"></div>
<div class="github-widget" data-repo="phodal/iot-android"></div>
<div class="github-widget" data-repo="phodal/iot-dashboard"></div>

<h2>JavaScript & Mobile </h2>
<div class="github-widget" data-repo="phodal/sherlock"></div>
<div class="github-widget" data-repo="phodal/lettuce"></div>
<div class="github-widget" data-repo="phodal/moqi.mobi"></div>
<div class="github-widget" data-repo="phodal/skillock"></div>

<h2>文档</h2>
<div class="github-widget" data-repo="phodal/awesome-iot"></div>
<div class="github-widget" data-repo="phodal/awesome-developer"></div>

<h2>推荐</h2>
<div class="github-widget" data-repo="echoesworks/echoesworks"></div>

{% endblock %}
