{% extends "pages/base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<h2>Internet Of Things</h2>
<div class="github-widget" data-repo="phodal/iot"></div>
<div class="github-widget" data-repo="phodal/designiot"></div>
<div class="github-widget" data-repo="phodal/iot-coap"></div>
<h2> Mobile CMS</h2>
<div class="github-widget" data-repo="phodal/moqi.mobi"></div>

<h2>Chinese Input Method</h2>
<iframe src="//www.slideshare.net/slideshow/embed_code/41359261" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
<h2>SEO</h2>
<iframe src="//www.slideshare.net/slideshow/embed_code/41359354" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
{% endblock %}
