{% load pages_tags i18n %}

{% spaceless %}
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <a href="{% url "home" %}" class="first{% if on_home %} active{% endif %} mdl-navigation__link mdl-typography--text-uppercase">{% trans "Home" %}</a>
    {% endif %}
    {% if page.in_menu %}
    <a id="primary-menu-{{ page.html_id }}" href="{{ page.get_absolute_url }}" class="mdl-navigation__link mdl-typography--text-uppercase
        {% if page.is_current_or_ascendant %}active{% endif %}{% if forloop.last %} last{% endif %} ">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
</ul>
{% endspaceless %}
