{% load mezzanine_tags rating_tags i18n %}

<span id="rating-{{ rating_object.id }}" itemscope itemtype="http://schema.org/AggregateRating">
    {% if rating_average %}
    {% trans "当前评分" %}:<span itemprop="ratingValue"> {{ rating_average|floatformat }}</span> {% trans "评分数" %} <span itemprop="ratingCount"> {{ rating_count|floatformat }}</span>
    {% else %}
    {% trans "未评分" %}
    {% endif %}
</span>

{% if not rated or request.user.is_authenticated %}
<form class="form-inline" role="form" method="post" action="{% url "rating" %}">
    {% nevercache %}
    {% csrf_token %}
    {% endnevercache %}
    <ul class="radio radio-inline">{{ rating_form.as_ul }}</ul>
    <input type="submit" class="btn btn-default btn-sm" value="{% trans "Rate" %}"
        onclick="return $(this.form).find('input:checked').length == 1;">
</form>
{% endif %}
