{% load mezzanine_tags i18n event_tags playdown_tags %}

{% block events %}
  {% events %}
  {%  if events %}
  <section class="section--center mdl-grid mdl-shadow--2dp recent-post">
    <div class="mdl-card__title mdl-card--border mdl-card--expand">
      <h3 class="mdl-card__title-text">最近的一些事</h3>
    </div>
    <ul class="mdl-card__supporting-text list-unstyled">
      {% for event in events %}
        <li>
          {% markit event.content as content %}
          <div>{{ content |safe }}</div>
          <span class="meta">
              <span content="{{ event.date }}">{{ event.pub_date }}</span>  |
              <span>{{ event.location }}</span>
          </span>
        </li>
      {% endfor %}
    </ul>
  </section>
  {%  endif %}
{% endblock %}
