{% load mezzanine_tags i18n future event_tags %}

{% block events %}
<section class="section--center mdl-grid mdl-shadow--2dp recent-post" itemscope itemtype="http://schema.org/Event">
    <div class="mdl-card__title mdl-card--border mdl-card--expand">
        <h3 class="mdl-card__title-text" itemprop="name">最近的一些事</h3>
    </div>
    <ul class="mdl-card__supporting-text list-unstyled">
        {% events %}
      {% for event in events %}
        <li>
          <div itemprop="description">{{ event.content |richtext_filters|safe }}</div>
          <p class="meta"><span itemprop="startDate" content="{{ event.date }}">{{ event.date }}</span>  |
              <span itemprop="location" itemscope itemtype="http://schema.org/Place">{{ event.location }}</span></p>
        </li>
      {% endfor %}
    </ul>
</section>
{% endblock %}
