{% load mezzanine_tags static %}

{% editable_loader %}

{% compress js %}
<script src="{% static "mdl/material.min.js" %}"></script>
<script src="{% static "mdl/jquery.2.1.4.min.js" %}"></script>
<script src="{% static "phodal/js/highlight.min.js" %}"></script>
<script src="{% static "phodal/js/jquery.autocomplete.min.js" %}"></script>
<script src="{% static "phodal/js/progressively.min.js" %}"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
$(function() {
  progressively.init();
});
$( document ).ready(function() {
    $('.middle.mdl-layout__content').css('z-index', 'initial');
    $('.android-content.mdl-layout__content').css('z-index', 'initial');
});
</script>
{% endcompress %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVXMFKG0BV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LVXMFKG0BV');
</script>

