{% load mezzanine_tags staticfiles %}

{% editable_loader %}

{% compress js %}
<script src="{% static "mdl/material.min.js" %}"></script>
<script src="{% static "mdl/jquery.2.1.4.min.js" %}"></script>
<script src="{% static "phodal/js/highlight.min.js" %}"></script>
<script src="{% static "phodal/js/jquery.autocomplete.min.js" %}"></script>
<script src="{% static "phodal/js/jquery.smartbanner.js" %}"></script>
<script src="{% static "phodal/js/analytics.js" %}"></script>
{% block extra_js %}
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
$(function() {
 $.smartbanner({
  title: 'Phodal"s Blog', // What the title of the app should be in the banner (defaults to <title>)
  author: "Phodal Huang", // What the author of the app should be in the banner (defaults to <meta name="author"> or hostname)
  price: 'FREE', // Price of the app
  inGooglePlay: 'In Google Play', // Text of price for Android
  button: '安裝及测试', // Text for the install button
  appendToSelector: 'body'
 })
});
$('.autocomplete').autocomplete({
    minChars: 2,
    width: 350,
    serviceUrl: '/api/v1/app/?limit=20&format=json&',
    paramName: 'title__contains',
    transformResult: function(response) {
        var result = [];
        $.each(JSON.parse(response).objects, function(index, dataItem) {
            result.push({value: dataItem.title, data: dataItem.slug});
        });

        return { suggestions: result }
    },
    onSelect: function (suggestion) {
        window.location.href = "{% url "blog_post_list" %}" + suggestion.data;
    }
});
$('#autocomplete2').autocomplete({
        minChars: 2,
        serviceUrl: '/api/v1/app/?limit=20&format=json&',
        paramName: 'title__contains',
        transformResult: function(response) {
            var result = [];
            $.each(JSON.parse(response).objects, function(index, dataItem) {
                result.push({value: dataItem.title, data: dataItem.slug});
            });

            return { suggestions: result }
        },
        onSelect: function (suggestion) {
            window.location.href = "{% url "blog_post_list" %}" + suggestion.data;
        }
    });
</script>
{% endblock %}
{% endcompress %}


<script>
{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', 'auto');  // Replace with your property ID.
ga('send', 'pageview');
{% endif %}
</script>
<script>
$( document ).ready(function() {
    $('.middle.mdl-layout__content').css('z-index', 'initial');
    $('.android-content.mdl-layout__content').css('z-index', 'initial');
});
</script>
