{% load mezzanine_tags i18n future %}

<div class="element input-element place-right">
<form action="{% url "search" %}" role="search">

<div class="input-control text">
    <input placeholder="{% trans "Search..." %}" type="text" name="q" value="{{ request.REQUEST.q }}">
    <button class="btn-search"></button>
</div>

{% if search_model_choices %}
    {% if search_model_choices|length == 1 %}
    <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
    {% else %}
    <div class="form-group">
    <select class="form-control" name="type">
        <option value="">{% trans "Everything" %}</option>
        {% for verbose_name, model in search_model_choices %}
        <option value="{{ model }}"
            {% if model == request.REQUEST.type  %}selected{% endif %}>
            {{ verbose_name }}
        </option>
        {% endfor %}
    </select>
    </div>
    {% endif %}
{% endif %}

</form>
</div>
