{% load mezzanine_tags i18n future %}
    <form action="{% url "search" %}" class="navbar-form navbar-right" role="search"  itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
    <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input autocomplete" type="text" id="search-field" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}"  itemprop="query-input" type="text" name="search_term_string" required/>
    </div>
    <button style="top: 20px" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons" role="presentation">search</i>
        <span class="visuallyhidden">Search</span>
        <span class="mdl-button__ripple-container">
            <span class="mdl-ripple is-animating"
                  style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(45px, 21px);">
            </span>
          </span>
    </button>
 <script>
$('.autocomplete').autocomplete({
    minChars: 2,
    width: 350,
    serviceUrl: '/api/v1/app/?limit=20&format=json&',
    paramName: 'title__contains',
    transformResult: function(response) {
        var result = [];
        $.each(JSON.parse(response).objects, function(index, dataItem) {
            result.push({value: dataItem.title, data: dataItem.slug});
        });

        return { suggestions: result }
    },
    onSelect: function (suggestion) {
        window.location.href = "{% url "blog_post_list" %}" + suggestion.data;
    }
});
</script>

    <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
</form>
