{% load mezzanine_tags staticfiles %}
<h3>关于作者</h3>
<div itemscope itemtype="http://schema.org/Person">
    <img style="border-radius: 3px;" itemprop="image" width="178" height="178" lt="" src="{% static "phodal/images/phodal.jpg"%}">
    <p>
        <span itemprop="name">
            <a href="/blog/author/root/" rel="publisher">Phodal Huang</a>
        </span>
    </p>
    <span itemprop="affiliation">
        <a rel="nofollow" href="http://www.thoughtworks.com/careers/browse-jobs">ThoughtWorks</a>&nbsp; Consultant
    </span><br/>
    <span itemprop="jobTitle">
        <a href="/literature/">Writer</a>
        &
        <a href="/works">Coder</a>
        &
        <a href="/design">Designer</a>
    </span><br/>
    Contact: <a href="mailto:h@phodal.com" itemprop="email">h@phodal.com</a>
</div>
<h3>Follow Me</h3>
<ul class="list-unstyled">
    <li><a rel="nofollow" href="https://github.com/phodal" target="_blank"><img src="/static/phodal/images/github.png " alt="" width="32"> &nbsp; Github</a></li>
    <li><a rel="nofollow" href="http://weibo.com/phodal" target="_blank">Weibo</a></li>
    <li><a rel="nofollow" href="http://www.zhihu.com/people/phodal" target="_blank">Zhihu</a>
    </li>
</ul>