{% load mezzanine_tags %}
{% ifinstalled mezzanine.accounts %}
<div class="panel panel-default user-panel">
<div class="panel-body">
<iframe width="263" height="350" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=263&height=350&fansRow=2&ptype=0&speed=300&skin=5&isTitle=0&noborder=1&isWeibo=0&isFans=0&uid=1533917471&verifier=daf319e2&dpc=1"></iframe>
{% include "accounts/includes/user_panel.html" %}
</div>
</div>
{% endifinstalled %}
