{% load mezzanine_tags staticfiles %}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp recent-post">
    <div class="mdl-card__title mdl-card--border mdl-card--expand">
        <h3 class="mdl-card__title-text">关于作者</h3>
    </div>
    <div itemscope itemtype="http://schema.org/Person" class="mdl-card__supporting-text author">
        <img style="border-radius: 3px;" itemprop="image" width="178" height="178" src="{% static "phodal/images/phodal.jpg"%}">
        <p itemprop="name">
            <a href="https://www.phodal.com/" rel="publisher">Phodal Huang</a>
        </p>
        <span itemprop="affiliation" class="phodal-information">
            Developer, Consultant, Writer, Designer
        </span>
        <p itemprop="jobTitle">InfoQ社区编辑，CSDN前端博客专家 </p>
        <p class="intro">
            <p>毕业于西安文理学院电子信息工程专业</p>
            <p>长期活跃于开源软件社区 GitHub，专注于物联网和前端领域。</p>
            <p>著有《自己动手设计物联网》（电子工业出版社）、曾作为技术专家审阅英国 Packt 出版社的物联网书籍《Learning IoT》、《Smart
                IoT》等书。</p>
            <p>在 GitHub 开源有《Growth：全栈增长工程师指南》等六本电子书，并译有《物联网实战指南》。</p>
        </p>
        联系我: <a href="mailto:h@phodal.com" itemprop="email">h@phodal.com</a>
        <ul class="mdl-card__supporting-text list-unstyled">
            <li>微信公众号: 与我沟通</li>
            <img style="border-radius: 3px;" width="178" height="178" src="{% static "phodal/images/qrcode.jpg"%}" />
            <li>其他</li>
            <li>Github: <a rel="nofollow" href="https://github.com/phodal" target="_blank">@phodal</a></li>
            <li>微博:<a rel="nofollow" href="http://weibo.com/phodal" target="_blank">@phodal</a></li>
            <li>知乎:<a rel="nofollow" href="http://www.zhihu.com/people/phodal" target="_blank">@phodal</a></li>
            <li>SegmentFault:<a rel="nofollow" href="http://segmentfault.com/u/phodal" target="_blank">@phodal</a></li>
        </ul>
    </div>
</section>
