{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags staticfiles %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<span class="active" itemprop="name">{{ blog_post.title }}</span>
{% endblock %}

{% block title %}
<div class="mdl-card__title mdl-card--border">
    <h2 class="mdl-card__title-text">
    {% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
    </h2>
</div>
{% endblock %}

{% block main %}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp post_detail mdl-cell--11-col">
<div class="mdl-card__supporting-text">
{% block blog_post_detail_postedby %}
{% editable blog_post.publish_date %}
<h6 class="post-meta">
    {% trans "Posted by" %}:
    {% with blog_post.user as author %}
    <a href="{% url "blog_post_list_author" author %}" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    <span itemprop="datePublished" >{% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
</h6>
{% endeditable %}
{% endblock %}
{% block blog_post_detail_commentlink %}
<p>
    {% if blog_post.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% else %}(<a href="#comments">{% spaceless %}
            {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
        {% endif %}
    {% endif %}
</p>
{% endblock %}

{% block blog_post_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<p><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
{% endif %}
{% endblock %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% endif %}

{% block blog_post_detail_content %}
<div  itemprop="articleBody">
{% editable blog_post.content %}
{{ blog_post.content|richtext_filters|safe }}
{% endeditable %}
</div>
{% endblock %}
</div>

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="list-inline tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

<div class="mdl-card__actions mdl-card--border">
    <img src="{% static "phodal/images/github.png" %} " alt="" width="32" />
    围观<a href="https://github.com/phodal/ideas" alt="phodal's ideas">我的 Idea</a>墙, 也许，你会遇到心仪的项目

{% block blog_post_detail_related_posts %}
{% if blog_post.related_posts.all %}
<div id="related-posts">
<h4>{% trans '或许您还需要' %}</h4>
<ul class="list-unstyled">
{% for post in blog_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
</div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp post_detail mdl-cell--11-col">
    <div class="mdl-card__title mdl-card--border">
        <h3 class="mdl-card__title-text">?沒有找到想要的,试试站内搜索吧</h3>
    </div>

<form action="{% url "search" %}" class="autocomplete2 mdl-card__supporting-text">
<input class="form-control" id="autocomplete2" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}"  itemprop="query-input" type="text" name="search_term_string" required/>
</form>
<p class="mdl-card__actions mdl-card--border">QQ技术交流群: 321689806</p>
<script>
$('#autocomplete2').autocomplete({
    minChars: 2,
    serviceUrl: '/api/v1/url/?limit=20&format=json&',
    paramName: 'title__contains',
    transformResult: function(response) {
        var result = [];
        $.each(JSON.parse(response).objects, function(index, dataItem) {
            result.push({value: dataItem.title, data: dataItem.slug});
        });

        return { suggestions: result }
    },
    onSelect: function (suggestion) {
        window.location.href = "{% url "blog_post_list" %}" + suggestion.data;
    }
});
</script>
{% endblock %}
</section>

{% block blog_post_detail_comments %}
{% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
{% endblock %}

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel_without_month.html" %}
{% endblock %}
