<!doctype html>
<html lang="zh-cmn-Hans">
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="content-language" content="zh-CN" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<link rel="canonical" href="https://www.phodal.com{{ request.get_full_path }}" />
<link rel="alternate" hreflang="x-default" href="https://www.phodal.com{{ request.get_full_path }}"/>
<meta name="baidu-site-verification" content="dZvx5Cg1jt" />
<meta name="baidu-tc-verification" content="f7b366ac5d55ab1f7b49d02aba0b7729" />
<meta name="google-site-verification" content="3-n5j67nVlQ0ICC3DJb28FXuJI7pEei5v2kx7AR8eHU" />
<meta name="360-site-verification" content="cba6ea64db6f8161813b27e9897ab6c8" />
<meta name="msvalidate.01" content="F30E514979FE4E6033CFC2F92FA816C4" />
<meta name="sogou_site_verification" content="46iR0w9xzJ"/>
<meta name="bitly-verification" content="b4cdaf394c9f"/>
<link rel="author" href="https://plus.google.com/108569130336274162470/posts">
<title>{% block meta_title %}{% endblock %}  - 手工艺人 {% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "phodal/images/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "phodal/css/mdl-main.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "mdl/material.min.css" %}">
{% block extra_css %}
{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "phodal/js/highlight.min.js" %}"></script>
<script src="{% static "phodal/js/jquery.autocomplete.min.js" %}"></script>
<script src="{% static "mdl/material.min.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

{% block extra_head %}{% endblock %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">
<div class="mdl-layout__header mdl-layout__header--waterfall is-casting-shadow">
    <div class="mdl-layout mdl-js-layout">
        <div class="mdl-layout__header-row">
            <!--<div class="mdl-layout mdl-js-layout">-->
            <span class="mdl-layout-title">PHODAL</span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="mdl-layout-spacer"></div>

            <!-- Navigation -->
            <nav class="android-navigation mdl-navigation">
                {% page_menu "pages/menus/nav_menu.html" %}
            </nav>
            <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                {% search_form "all" %}
            </div>
        </div>

        <div class="mdl-layout__drawer ">
            <span class="mdl-layout-title">{% if settings.SITE_TITLE %}<a class="navbar-brand brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}</span>
            <nav class="mdl-navigation">
                {% spaceless %}
                {% page_menu "pages/menus/tree.html" %}
                {% endspaceless %}
            </nav>
        </div>
    </div>
</div>

<div class="mdl-components mdl-js-components mdl-cell mdl-cell--12-col">
{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb" itemscope="itemscope" itemtype="http://schema.org/Breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="mdl-components__page mdl-grid">
    <div class="middle mdl-layout__content mdl-cell mdl-cell--9-col"  itemscope itemtype="http://schema.org/Article">
        {% block main %}{% endblock %}
    </div>

    <div class="mdl-cell mdl-cell--3-col right">
        {% nevercache %}
        {% include "includes/user_panel.html" %}
        {% endnevercache %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% block right_panel %}
                {% include "includes/user_info.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        {% page_menu "pages/menus/footer.html" %}
    </div>
<div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
        Source Code: PhodalDev(Github: https://github.com/phodal/phodaldev)
    </div>
  </div>
</footer>
{% include "includes/footer_scripts.html" %}
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "http://www.phodal.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://www.phodal.com/search/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
</body>
</html>
