<!doctype html>
<html lang="zh-cmn-Hans">
{% load i18n mezzanine_tags pages_tags blog_tags staticfiles %}

<head>
  <title> Phodal - 狼和凤凰 | Growth Engineer</title>

  <meta http-equiv="content-language" content="zh-CN"/>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="google-site-verification" content="3-n5j67nVlQ0ICC3DJb28FXuJI7pEei5v2kx7AR8eHU"/>
  <meta name="msvalidate.01" content="F30E514979FE4E6033CFC2F92FA816C4"/>
  <meta name="alexaVerifyID" content="ZZ-ekHwAaTl4lob12WYzKLimR58"/>
  <meta name="baidu-site-verification" content="dZvx5Cg1jt"/>
  <meta name="baidu-tc-verification" content="f7b366ac5d55ab1f7b49d02aba0b7729"/>
  <meta baidu-gxt-verify-token="b717152da263036a4bf02b98bdf631d0">
  <meta name="360-site-verification" content="cba6ea64db6f8161813b27e9897ab6c8"/>
  <meta name='yandex-verification' content='7c80fea3c6548a5a'/>
  <meta name="sogou_site_verification" content="46iR0w9xzJ"/>
  <meta name="bitly-verification" content="b4cdaf394c9f"/>

  <link rel="canonical" href="https://www.phodal.com{{ blog_post.get_absolute_url }}"/>
  <link rel="alternate" href="android-app://com.phodal.blog/https/www.phodal.com{{ request.get_full_path }}"/>
  <link rel="alternate" href="https://www.phodal.com{{ request.get_full_path }}" hreflang="x-default"/>
  <link rel="shortcut icon" href="{% static "phodal/images/favicon.ico" %}">
  <link rel="author" href="https://plus.google.com/108569130336274162470/posts">

  {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
  {% endifinstalled %}

  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "phodal/css/pure-min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "phodal/css/grid-responsive.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "phodal/css/index.css" %}">
  {% endcompress %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">

<div id="layout">
  <div class="pure-g-r splash">
    <div class="pure-u-1 is-center background">
      <div class="header">
        <div class="pure-menu pure-menu-horizontal nav pure-u-md-1-1">
          <span><a href="/" class="logo">PHODAL</a></span>
          <ul class="pure-menu-list menunav">
            <li class="pure-menu-item"><a href="/blog/" class="pure-menu-link">博客</a></li>
            <li class="pure-menu-item"><a href="/works/" class="pure-menu-link">代码</a></li>
            <li class="pure-menu-item"><a href="/literature/" class="pure-menu-link">文字</a></li>
            <li class="pure-menu-item"><a href="https://github.com/phodal/mifa" class="pure-menu-link">设计</a></li>
          </ul>
        </div>
      </div>

      <h1>THE ONLY FAIR IS NOT FAIR <br/> ENJOY CREATE & SHARE</h1>
    </div>
  </div>
  <div class="topgradient"></div>

  <div class="content">
    <div class="l-content">
      <div class="pure-g content pwd">
        <div class="pure-u-1 pure-u-md-1-3 literature">
          <h2><a href="/literature">分享想法</a></h2>
          <ul>
            <li>著有《全栈应用开发：精益实践》</li>
            <li>著有《自己动手设计物联网》</li>
            <li>合译有《物联网实战指南》
            <li>
            <li>合译有《Arduino编程:实现梦想的工具和技术》</li>
            <li>审阅有《Expert Angular》、《Smart》等书</li>
          </ul>
          <p>作为一个笔杆子，我在自己的博客上撰写了超过600篇的博客。 还是 InfoQ
            的社区编辑，主要负责编写《物联网周报》的编写。并是 CSDN 的活跃用户，被授予其前端博客专家称号。</p>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 code">
          <h2><a href="/works">hello, world</a></h2>
          <ul>
            <li><a href="https://github.com/phodal/growth">编程学习软件：Growth</a></li>
            <li><a href="https://github.com/phodal/adr">架构决策记录工具：ADR</a></li>
            <li><a href="https://github.com/phodal/lan">物联网服务端：Lan</a></li>
            <li><a href="https://github.com/phodal/sherlock">技能树：Sherlock</a></li>
            <li><a href="https://github.com/phodal/echoesworks">幻灯片框架：EchoesWorks</a></li>
          </ul>
          <p>作为一个程序员、软件咨询师，我拥有广泛的技术栈：前端领域、物联网领域、移动开发（混合应用、Android 原生）、后台开发。
            作为一个活跃的社区贡献者，我长期活跃于GitHub，并创建了相当数量的开源项目。</p>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 design">
          <h2><a href="/design">Create Life</a></h2>
          <ul>
            <li><a href="https://github.com/phodal/mifa">Mifa CSS 框架</a></li>
            <li>摄影</li>
            <li>素描</li>
            <li>UI 设计</li>
            <li>TBC</li>
          </ul>
          <p>作为一个设计方面的学徒，我仍在持续学习中。我将数据可视化与信息技术相结合来展示数据，将 UI 与前端相结合来创建更好的用户体验，将设计引入技术来创建价值。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="pure-g">
      <div class="pure-u-1 is-center">
        <div class="pure-u-1 pure-u-md-1-1 is-center social">
          <span class="follow">@phodal: </span>
          <a href="https://www.zhihu.com/people/phodal" rel="nofollow">知乎</a>、
          <a href="http://weibo.com/phodal" rel="nofollow">微博</a>、
          <a href="https://github.com/phodal" rel="nofollow">GitHub</a>、
          <a href="https://v2ex.com/member/phodal" rel="nofollow">V2EX</a>、
          <a href="http://segmentfault.com/u/phodal" rel="nofollow">SegmentFault</a>、
          <a href="http://www.jianshu.com/users/e64ad9fba4da" rel="nofollow">简书</a>、
          <a href="http://blog.csdn.net/phodal" rel="nofollow">CSDN</a>
        </div>
      </div>
    </div>
    <div class="pure-g about">
      <div class="pure-u-1 is-center">
        <h2>编程 - 写作 - 设计</h2>
        <h3>一个文艺控。喜欢读书，喜欢纸的质感，喜欢用笔铭刻记忆和思想。</h3>
        <h3>一个设计控。喜欢自行设计小东西，相比理论而言更喜欢动手实践。</h3>
        <h3>一个程序员。爱热分享、创建与开源，努力去改变自己，改变世界。</h3>
      </div>
    </div>
    {% block blogposts %}
      <div class="pure-g l-content recently-blog">
        <div class="pure-u-1 pure-u-md-1-1 is-center">
          <a href="/blog/" title="Recently Blog"><h2>最新博文</h2></a>
        </div>
        <div class="blog-posts">
          {% for blog_post in blog_posts.object_list %}
            <div class="pure-u-1-1 pure-u-md-1-3">
              {% block blog_post_list_post_title %}
                <a href="{{ blog_post.get_absolute_url }}" itemprop="name"><h3>{{ blog_post.title }}</h3></a>
              {% endblock %}

              {% block blog_post_list_post_content %}
                {{ blog_post.description_from_content|safe }}
              {% endblock %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endblock %}
    <div class="pure-g content moreinfo">
      <div class="pure-u-1 pure-u-md-1-8">
      </div>
      <div class="pure-u-1 pure-u-md-1-4 slice">
        <h2><a href="https://github.com/phodal" target="_blank" title="GitHub">GitHub › </a></h2>
        <p>
          也许，你会遇到心仪的项目
        </p>
        <ul>
          <li><a href="https://github.com/phodal/adr" target="_blank" rel="nofollow">轻量级架构决策记录工具</a></li>
          <li><a href="https://github.com/phodal/growth" target="_blank" rel="nofollow">Growth:</a>带你成为顶尖开发者</li>
          <li><a href="https://github.com/phodal/fe" target="_blank" rel="nofollow">我的职业是前端工程师</a></li>
          <li><a href="https://github.com/phodal/echoesworks" target="_blank" rel="nofollow">Echoesworks: </a> Slider
            Framework
          </li>
        </ul>
      </div>
      <div class="pure-u-1 pure-u-md-1-4 slice slice-margin">
        <h2><a href="/support" title="Tech Support">技术咨询 › </a></h2>
        <p>在技术上遇到问题?</p>
        <ul>
          <li><span>硬件</span>:物联网、IoT</li>
          <li><span>前端</span>:HTML5、Cordova、Ionic</li>
          <li><span>后台</span>:Django、Search Engine、MicroServices</li>
          <li><span>运营</span>: SEO、SEM</li>
        </ul>
      </div>
      <div class="pure-u-1 pure-u-md-1-4 slice-margin">
        <h2>专栏</h2>
        <p>在下面的地方关注我</p>
        <ul>
          <li><a href="http://www.infoq.com/cn/author/%E9%BB%84%E5%B3%B0%E8%BE%BE" rel="nofollow"
                 target="_blank">InfoQ</a></li>
          <li><a href="http://blog.csdn.net/phodal" rel="nofollow" target="_blank">CSDN</a></li>
          <li><a href="http://segmentfault.com/u/phodal" rel="nofollow" target="_blank">SegmentFault</a></li>
          <li><a href="https://zhuanlan.zhihu.com/phodal" rel="nofollow" target="_blank">知乎</a></li>
        </ul>
      </div>
      <div class="pure-u-1 pure-u-md-1-8">
      </div>
    </div>
  </div>
</div>
<div class="bottomgradient"></div>
<footer>
  <div class="pure-g">
    <div class="pure-u-5-6 margin-center">
      {% page_menu "pages/menus/homepage_footer.html" %}
    </div>
    <div class="is-center pure-u-1-1 copy">
      Powered by Mezzanine & Django & <a href="https://phodal.github.io/mifa/">Mifa Design</a>
    </div>
  </div>
</footer>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Phodal's Blog",
  "alternateName": "A Growth Engineer",
  "url": "https://www.phodal.com"
  }

</script>
<script>
  {% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', 'auto');  // Replace with your property ID.
    ga('send', 'pageview');
  {% endif %}
</script>
</body>
</html>
