{% extends "base2.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block meta_keywords %}{% trans "Phodal,Geek's life,Phodal Huang,IOT,黄峰达" %}{% endblock %}
{% block meta_description %}{% trans "Phodal's博客，个人博客用于软件开发心得分享及SEO优化学习,博客内容主要以计算机方面为主,Powered by Django and Python。狼和凤凰一起追逐龙,龙消失了。。。"%}{% endblock %}
{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<div itemscope itemtype='http://schema.org/Article'><h3><span itemprop='name'>青玉案</span><br/></h3>笔走云汉千里路，唯目送，冬归去。日暖春光，雕窗朱户，独抿清茶苦。<br />天上人间情归处，南北隔，东西默。欲问相思，不问相思，三世与君知。</div><div itemscope itemtype='http://schema.org/Article'><h3><span itemprop='name'>鹧鸪天</span><br/></h3>昔誓昔盟或可期，东风恨恨卷青丝。相思忍对新醅酒，寂寞怕开却月门。<br/>情缱绻，梦依稀。忽惊三月燕归迟。天涯何必歌长恨，为有君心似旧时。</div>
{% endblocktrans %}
{% endblock %}
