.wmd-wrapper {
    display: inline-block;
    width: 1000px;
}

.wmd-panel {
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.wmd-input {
    height: 394px;
    width: 492px;
    resize: vertical;
}

.wmd-preview
{
    display: inline-block;
    vertical-align: top;
    width: 474px;
    height: 400px;
    overflow: auto;
    margin-top: 30px;
    padding: 0 10px;
    background-color: #fafafa;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height:1.5em;
    font-size: 1em;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #DDDDDD #DDDDDD #CCCCCC;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

.wmd-preview em { font-style: italic; }
.wmd-preview ul li { list-style-type: disc; }
.wmd-preview ul ul li { list-style-type: circle; }
.wmd-preview ul ul ul li { list-style-type: square; }

.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
    height: 20px;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.wmd-button > span {
    background-image: url(../pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 12px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}
.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-preview p{
    margin:1em 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
}

.wmd-preview img{
    max-width:100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
.wmd-preview h1,.wmd-preview h2,.wmd-preview h3,.wmd-preview h4,.wmd-preview h5,.wmd-preview h6{
    font-weight:normal;
    color:#111;
    line-height:1em;
    padding: 0;
    margin-top: 12px;
    background: none;
}
.wmd-preview h4,.wmd-preview h5,.wmd-preview h6{ font-weight: bold; }
.wmd-preview h1{ font-size:2.5em; }
.wmd-preview h2{ font-size:2em; }
.wmd-preview h3{ font-size:1.5em; }
.wmd-preview h4{ font-size:1.2em; }
.wmd-preview h5{ font-size:1em; }
.wmd-preview h6{ font-size:0.9em; }

.wmd-preview blockquote{
    margin:0;
    padding-left: 1em;
}
.wmd-preview hr {display: block;
    height: 0px;
    border: 0;
    border-bottom: 1px solid #CCC;
    margin: 25px 0 20px 0;
    padding: 0;
}
.wmd-preview pre, .wmd-preview code, .wmd-preview kbd, .wmd-preview samp {
    color: #000;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
}
/* Code inline */
.wmd-preview code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
}
/* Block code */
.wmd-preview pre code {
    color:white;
    background-color: none;
    border: 0;
    line-height: 1.5em;
}
.wmd-preview pre{
    font-size: 14px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin:1.5em 0 1.5em 0;
    padding: 1em;
    background-color: #333;
    color: white;
}
.wmd-preview b, .wmd-preview strong { font-weight: bold; }

.wmd-preview dfn { font-style: italic; }

.wmd-preview ins { background: #ff9; color: #000; text-decoration: none; }

.wmd-preview mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

.wmd-preview sub, .wmd-preview sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.wmd-preview sup { top: -0.5em; }
.wmd-preview sub { bottom: -0.25em; }

.wmd-preview ul, .wmd-preview ol, .wmd-preview dd {
    padding: 0 0 0 2em !important;
}
.wmd-preview ul li, .wmd-preview ol li{
    font-size: 14px !important;
}
.wmd-preview li p:last-child { margin:0 }


.wmd-preview table { border-collapse: collapse; border-spacing: 0; }
.wmd-preview td { vertical-align: top; }

/* RTL */

html[dir="rtl"] .wmd-preview ul,
html[dir="rtl"] .wmd-preview ol,
html[dir="rtl"] .wmd-preview dd {
    padding: 0 2em 0 0 !important;
}

html[dir="rtl"] .wmd-preview blockquote{
    padding-left: 0;
    padding-right: 1em;
}

pre { direction: ltr; }
